:root {
  --primary: #EA6D6D;
  --primary-hover:#de6464; 
  --text: #333333;
  --bg: #FDFDFD;
}

/*Dark mode variables*/
[data-theme="dark"] {
  --bg: #212121;
  --text: #FDFDFD;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--bg);

  transition: background ease 500ms;
  transition: color ease 500ms;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

